@model AMS.Areas.DashBoard.Models.ViewModels.AccomodationTypeModels
   @if(Model != null && Model.accomodationTypes!= null && Model.accomodationTypes.Count()>0)
   {
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">action</th>
              
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model.accomodationTypes)
            {
             <tr>
                 <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>
                        <button type="button" class="btn btn-success">Edit</button>
                        <button type="button" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
   else
{
<div class="alert alert-warning" role="alert">
 sorry no rRecord Exist
</div>
}