@model AMS.Areas.DashBoard.Models.ViewModels.AccomodationPackageListingModel
@if (Model != null && Model.accomodationPackages != null && Model.accomodationPackages.Count() > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Accomodation Type</th>
                
                <th scope="col">action</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.accomodationPackages)
            {
                <tr>
                    <td>@item.Name</td>
                   
                    <td>
                        @if (item.accomodationType != null)
                        {
                            @item.accomodationType.Name
                        }
                    </td>
                    
                    
                    <td>
                        <button data-href="@Url.Action("Action","AccomodationPackages",new { id=item.ID})" type="button" data-toggle="modal" data-target="#ActionModal" class="data-btn btn btn-success"> <i class="fas fa-pencil-alt mr-1"></i>Edit</button>
                        <button data-href="@Url.Action("Delete","AccomodationPackages",new { id=item.ID})" type="button" data-toggle="modal" data-target="#ActionModal" class=" data-btn btn-danger"><i class="fas fa-trash-alt mr-1"></i>Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <div class="alert alert-warning" role="alert">
        sorry no rRecord Exist
    </div>
}
